.app__header {
    // background: red;
    width: 100%;
    padding: 2.2rem;
    background: #3C4048;
}

.app__header-title {
    color: #B2B2B2;
    position: absolute;
    left: 2.5rem;
    top: 9.8rem;
    font-size: 1.4rem;
}