.app__header {
    // background: red;
    width: 100%;
    padding: 2.2rem;
    background: rgba(255,256,257,0.1);
}

.app__header-title {
    color: B2B2B2;
    position: absolute;
    left: 2.5rem;
    top: 9.8rem;
    font-size: 1.4rem;
}